{% extends 'base.html' %}

{% block start %}

<div class="col-6 mx-auto card p-3 shadow-lg mb-3">
    <div>
        <h1>Tasks</h1>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Task ID</th>
                    <th scope="col">Task Status</th>
                    <th scope="col">Task Created</th>
                </tr>
            </thead>
            <tbody>
                {% for task in context.tasks %}
                <tr>
                    <th>{{ loop.index }}</th>
                    <td>{{ task.id }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.date_of_creation }}</td>
                    <td>
                        <a href="/delete_task/{{task.id}}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <a href="/clear_tasks" class="btn btn-primary">Clear Tasks</a>
        <a href="/add" class="btn btn-primary">Add Task</a>
        <!-- <a href="/update" class="btn btn-primary">Update</a> -->
    </div>
</div>

{% endblock %}